<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
    	<title> WEB-OPI | Control Panel </title>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/panel.css') }}">
    	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/all.min.css') }}">
	</head>

	<body>
    	<nav class="navbar navbar-inverse navbar-fixed-top">
        	<div class="container">
            	<div class="navbar-header">
                	<a class="navbar-brand"> <span class="glyphicon glyphicon-console glyphicon-align-center"></span> Pannello di controllo </a>
            	</div>
        	</div>
    	</nav>

    	<div class="container">
			<div id="jumb1" class="jumbotron">
				<div class ="row">

										<!-- Add a button for restarting the system -->
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<form action="{{ url_for('restart') }}" method="POST">
							<button type="submit" class="btn btn-warning btn-block btn-lg"  onclick="return confirm('Are you sure you want restart?');">
								<i class="fas fa-redo"></i> Restart System
							</button>
						</form>
					</div>

					<!-- Add a button for shutting down the system -->
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<form action="{{ url_for('shutdown') }}" method="POST">
							<button type="submit" class="btn btn-danger btn-block btn-lg"  onclick="return confirm('Are you sure you want shutdown?');">
								<i class="fas fa-power-off"></i> Shutdown System
							</button>
						</form>
					</div>


				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">                   
						
						{% if pins[3].status == true %}
							<div>
								<a href="/3/off" class="btn btn-block btn-lg btn-danger" role="button" 
								   onclick="return confirm('Are you sure you want to turn ON GPIO 3?');">
									<i class="fas fa-toggle-on"></i> Turn ON CAMERA CCD
								</a>
							</div>
						{% else %}
							<div>
								<a href="/3/on" class="btn btn-block btn-lg btn-success" role="button" 
								   onclick="return confirm('Are you sure you want to turn OFF GPIO 3?');">
									<i class="fas fa-toggle-off"></i> Turn OFF CAMERA CCD
								</a>
							</div>
						{% endif %}
						
						{% if pins[4].status == true %}
							<div>
								<a href="/4/off" class="btn btn-block btn-lg btn-danger" role="button" 
								   onclick="return confirm('Are you sure you want to turn ON GPIO 4?');">
									<i class="fas fa-toggle-on"></i> Turn ON MOUNT
								</a>
							</div>
						{% else %}
							<div>
								<a href="/4/on" class="btn btn-block btn-lg btn-success" role="button" 
								   onclick="return confirm('Are you sure you want to turn OFF GPIO 4?');">
									<i class="fas fa-toggle-off"></i> Turn OFF MOUNT
								</a>
							</div>
						{% endif %}


						<div>
							<a href="/VNC" class="btn btn-block btn-lg btn-primary" role="button" target="_blank">
								<i class="fas fa-toggle-off"></i>VNC
							</a>
						</div>

						<div>
							<a href="/logout" class="btn btn-block btn-lg btn-default" role="button" >
								<i class="fas fa-toggle-off"></i>Logout
							</a>
						</div>
						
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div id="jumb2" class="jumbotron">
							<h2> Status </h2>
							<p> CPU Temperature:
								<strong> {{ temp }} </strong> 
							</p>
						
							{% if pins[3].status == true %}
								<p> CAMERA CCD is now: <strong class="btn btn-block btn-lg btn-danger"> OFF </strong> </p>
							{% else %}
								<p> CAMERA CCD is now: <strong class="btn btn-block btn-lg btn-success"> ON </strong> </p>
							{% endif %}
							{% if pins[4].status == true %}
								<p> MOUNT is now: <strong class="btn btn-block btn-lg btn-danger"> OFF </strong> </p>
							{% else %}
								<p> MOUNT is now: <strong  class="btn btn-block btn-lg btn-success"> ON </strong> </p>
							{% endif %}
							
						</div>
					</div>
				</div>
			</div>
		</div>
    	<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	</body>
</html>
